streamlit
matplotlib
pandas
fpdf
nbformat
re
numpy
datetime
collections
os
hashlib
subprocess
typing
urllib.parse
matplotlib.pyplot
seaborn
requests
sklearn.feature_extraction.text
sklearn.preprocessing
scipy.sparse
sklearn.metrics
scipy.sparse
sklearn.cluster
sklearn.manifold
sklearn.preprocessing
